.u-mr-0 {
  margin-right: 0rpx;
}

.u-mr-1 {
  margin-right: 1rpx;
}

.u-mr-2 {
  margin-right: 2rpx;
}

.u-mr-3 {
  margin-right: 3rpx;
}

.u-mr-4 {
  margin-right: 4rpx;
}

.u-mr-5 {
  margin-right: 5rpx;
}

.u-mr-6 {
  margin-right: 6rpx;
}

.u-mr-7 {
  margin-right: 7rpx;
}

.u-mr-8 {
  margin-right: 8rpx;
}

.u-mr-9 {
  margin-right: 9rpx;
}

.u-mr-10 {
  margin-right: 10rpx;
}

.u-mr-11 {
  margin-right: 11rpx;
}

.u-mr-12 {
  margin-right: 12rpx;
}

.u-mr-13 {
  margin-right: 13rpx;
}

.u-mr-14 {
  margin-right: 14rpx;
}

.u-mr-15 {
  margin-right: 15rpx;
}

.u-mr-16 {
  margin-right: 16rpx;
}

.u-mr-17 {
  margin-right: 17rpx;
}

.u-mr-18 {
  margin-right: 18rpx;
}

.u-mr-19 {
  margin-right: 19rpx;
}

.u-mr-20 {
  margin-right: 20rpx;
}

.u-mr-21 {
  margin-right: 21rpx;
}

.u-mr-22 {
  margin-right: 22rpx;
}

.u-mr-23 {
  margin-right: 23rpx;
}

.u-mr-24 {
  margin-right: 24rpx;
}

.u-mr-25 {
  margin-right: 25rpx;
}

.u-mr-26 {
  margin-right: 26rpx;
}

.u-mr-27 {
  margin-right: 27rpx;
}

.u-mr-28 {
  margin-right: 28rpx;
}

.u-mr-29 {
  margin-right: 29rpx;
}

.u-mr-30 {
  margin-right: 30rpx;
}

.u-mr-31 {
  margin-right: 31rpx;
}

.u-mr-32 {
  margin-right: 32rpx;
}

.u-mr-33 {
  margin-right: 33rpx;
}

.u-mr-34 {
  margin-right: 34rpx;
}

.u-mr-35 {
  margin-right: 35rpx;
}

.u-mr-36 {
  margin-right: 36rpx;
}

.u-mr-37 {
  margin-right: 37rpx;
}

.u-mr-38 {
  margin-right: 38rpx;
}

.u-mr-39 {
  margin-right: 39rpx;
}

.u-mr-40 {
  margin-right: 40rpx;
}

.u-mr-41 {
  margin-right: 41rpx;
}

.u-mr-42 {
  margin-right: 42rpx;
}

.u-mr-43 {
  margin-right: 43rpx;
}

.u-mr-44 {
  margin-right: 44rpx;
}

.u-mr-45 {
  margin-right: 45rpx;
}

.u-mr-46 {
  margin-right: 46rpx;
}

.u-mr-47 {
  margin-right: 47rpx;
}

.u-mr-48 {
  margin-right: 48rpx;
}

.u-mr-49 {
  margin-right: 49rpx;
}

.u-mr-50 {
  margin-right: 50rpx;
}

.u-mr-51 {
  margin-right: 51rpx;
}

.u-mr-52 {
  margin-right: 52rpx;
}

.u-mr-53 {
  margin-right: 53rpx;
}

.u-mr-54 {
  margin-right: 54rpx;
}

.u-mr-55 {
  margin-right: 55rpx;
}

.u-mr-56 {
  margin-right: 56rpx;
}

.u-mr-57 {
  margin-right: 57rpx;
}

.u-mr-58 {
  margin-right: 58rpx;
}

.u-mr-59 {
  margin-right: 59rpx;
}

.u-mr-60 {
  margin-right: 60rpx;
}

.u-mr-61 {
  margin-right: 61rpx;
}

.u-mr-62 {
  margin-right: 62rpx;
}

.u-mr-63 {
  margin-right: 63rpx;
}

.u-mr-64 {
  margin-right: 64rpx;
}

.u-mr-65 {
  margin-right: 65rpx;
}

.u-mr-66 {
  margin-right: 66rpx;
}

.u-mr-67 {
  margin-right: 67rpx;
}

.u-mr-68 {
  margin-right: 68rpx;
}

.u-mr-69 {
  margin-right: 69rpx;
}

.u-mr-70 {
  margin-right: 70rpx;
}

.u-mr-71 {
  margin-right: 71rpx;
}

.u-mr-72 {
  margin-right: 72rpx;
}

.u-mr-73 {
  margin-right: 73rpx;
}

.u-mr-74 {
  margin-right: 74rpx;
}

.u-mr-75 {
  margin-right: 75rpx;
}

.u-mr-76 {
  margin-right: 76rpx;
}

.u-mr-77 {
  margin-right: 77rpx;
}

.u-mr-78 {
  margin-right: 78rpx;
}

.u-mr-79 {
  margin-right: 79rpx;
}

.u-mr-80 {
  margin-right: 80rpx;
}

.u-mr-81 {
  margin-right: 81rpx;
}

.u-mr-82 {
  margin-right: 82rpx;
}

.u-mr-83 {
  margin-right: 83rpx;
}

.u-mr-84 {
  margin-right: 84rpx;
}

.u-mr-85 {
  margin-right: 85rpx;
}

.u-mr-86 {
  margin-right: 86rpx;
}

.u-mr-87 {
  margin-right: 87rpx;
}

.u-mr-88 {
  margin-right: 88rpx;
}

.u-mr-89 {
  margin-right: 89rpx;
}

.u-mr-90 {
  margin-right: 90rpx;
}

.u-mr-91 {
  margin-right: 91rpx;
}

.u-mr-92 {
  margin-right: 92rpx;
}

.u-mr-93 {
  margin-right: 93rpx;
}

.u-mr-94 {
  margin-right: 94rpx;
}

.u-mr-95 {
  margin-right: 95rpx;
}

.u-mr-96 {
  margin-right: 96rpx;
}

.u-mr-97 {
  margin-right: 97rpx;
}

.u-mr-98 {
  margin-right: 98rpx;
}

.u-mr-99 {
  margin-right: 99rpx;
}

.u-mr-100 {
  margin-right: 100rpx;
}
